<html>
    <head>
        <title>{{alg_name}} Alg</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <h1>{{alg_name}} Alg</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        {% endif %}
        {% endwith %}








        <form action="" method="post" role="form">
            <div class="process">
                <div id="space"> &nbsp;&nbsp;&nbsp; </div> <h4 class="time_title">Arrival Time</h4> <h4 class="time_title">Burst Time</h4>
            </div>
            {% for i in range( listFrom.times|length ) %}
            <div class="process">
                <h4> P{{i+1}}: </h4>

                {{ listFrom.times[i].form.arrivalTime(class_='example_x') }}
                {{ listFrom.times[i].form.busrtTime(class_='example_x') }}
            </div>
            {% endfor %}

            <div class="btn" align="center">
                    <p>{{ listFrom.submit(class_='example_b') }}</p>
            </div>
        </form>
        








        <!-- <a href="{{ url_for('index')}}">
            Home Page
        </a> -->

        <div class="button_cont" align="center">
            <a class="example_e" href="{{ url_for('index')}}" rel="nofollow noopener">
                    Home Page
            </a>
        </div>

    </body>
</html>








